<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Votación de Gobernanza</title>
    <link rel="stylesheet" href="/gobernanza/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <h1>Votación de Gobernanza</h1>
    <div id="partidos">
        <ul>
            <li th:each="partido : ${partidos}">
                <button th:text="'Votar por ' + ${partido.nombre}" th:attr="data-nombre=${partido.nombre}, onclick='votar(this)'"></button>
            </li>
        </ul>
    </div>
    <canvas id="graficoVotos" width="400" height="200"></canvas>
</div>

<script src="/gobernanza/script.js"></script>
</body>
</html>